[Desktop Entry]
Version=1.0
Name=Tagger
GenericName=Fedora Tagger
Exec=xdg-open 'http://apps.fedoraproject.org/tagger'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
