[Desktop Entry]
Version=1.0
Name=Fedora Calendar
GenericName=Fedora Calendar
Exec=xdg-open 'http://apps.fedoraproject.org/calendar'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
