[Desktop Entry]
Version=1.0
Name=Fedora Hosted
GenericName=Fedora Hosted
Exec=xdg-open 'http://fedorahosted.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
