[Desktop Entry]
Version=1.0
Name=MailingLists Page
GenericName=Fedora MailingLists
Exec=xdg-open 'http://lists.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=mail-unread-symbolic
Categories=Fedora;
