[Desktop Entry]
Version=1.0
Name=DataGrepper
GenericName=Fedora Data Grepper
Exec=xdg-open 'https://apps.fedoraproject.org/datagrepper'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
