[Desktop Entry]
Version=1.0
Name=Status
GenericName=Fedora Status
Exec=xdg-open 'http://status.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
