[Desktop Entry]
Version=1.0
Name=Planet
GenericName=Fedora Planet
Exec=xdg-open 'http://planet.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
