[Desktop Entry]
Version=1.0
Name=Fedora Badges
GenericName=Fedora Badges
Exec=xdg-open 'https://badges.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
