[Desktop Entry]
Version=1.0
Name=Fedora MirrorManager
GenericName=Fedora MirrorManager
Exec=xdg-open 'http://mirrors.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
