[Desktop Entry]
Version=1.0
Name=Fedora People
GenericName=Fedora People
Exec=xdg-open 'http://fedorapeople.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
