[Desktop Entry]
Version=1.0
Name=Retrace FedoraProject
GenericName=Fedora Problem Tracker
Exec=xdg-open 'https://retrace.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
