[Desktop Entry]
Version=1.0
Name=Fedora BlockerBugs
GenericName=Fedora Blocker Bugs
Exec=xdg-open 'http://qa.fedoraproject.org/blockerbugs'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
