[Desktop Entry]
Version=1.0
Name=Magazines
GenericName=Fedora Magazines
Exec=xdg-open 'http://fedoramagazine.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
