[Desktop Entry]
Version=1.0
Name=Fedora Docs
GenericName=Fedora Documents
Exec=xdg-open 'http://docs.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
