[Desktop Entry]
Version=1.0
Name=Fedora Bodhi
GenericName=Fedora Bodhi
Exec=xdg-open 'http://admin.fedoraproject.org/updates'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
