[Desktop Entry]
Version=1.0
Name=Transifex
GenericName=Transifex
Exec=xdg-open 'https://www.transifex.com'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
