[Desktop Entry]
Version=1.0
Name=Fedora Community
GenericName=Fedora Community
Exec=xdg-open 'http://www.fedoracommunity.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
