[Desktop Entry]
Version=1.0
Name=Relang Dash
GenericName=Fedora RelangDash
Exec=xdg-open 'https://apps.fedoraproject.org/releng-dash/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
