[Desktop Entry]
Version=1.0
Name=Collectd
GenericName=Fedora Collectd
Exec=xdg-open 'http://admin.fedoraproject.org/collectd'
StartupNotify=true
Terminal=false
Type=Application
Icon=collectd
Categories=Fedora;
