[Deskktop Entry]
Version=1.0
Name=FedoraProject Start Page
GenericName=FedoraProject Start Page
Exec=xdg-open 'http://www.fedoraproject.org'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo
Categories=Fedora;
