[Desktop Entry]
Version=1.0
Name=SCM
GenericName=Fedora SCM
Exec=xdg-open 'http://pkgs.fedoraproject.org/cgit'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
