[Desktop Entry]
Version=1.0
Name=Redhat Bugzilla
GenericName=Redhat Bugzilla
Exec=xdg-open 'http://bugzilla.redhat.com/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
