[Desktop Entry]
Version=1.0
Name=PkgDB
GenericName=Fedora PkgDB
Exec=xdg-open 'http://admin.fedoraproject.org/pkgdb'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
