[Desktop Entry]
Version=1.0
Name=EasyFix
GenericName=Fedora EasyFix
Exec=xdg-open 'http://fedoraproject.org/easyfix'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
