[Desktop Entry]
Version=1.0
Name=HAProxy
GenericName=Fedora HAProxy
Exec=xdg-open 'http://admin.fedoraproject.org/haproxy/proxy1'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
