[Desktop Entry]
Version=1.0
Name=DarkServer
GenericName=Fedora DarkServer
Exec=xdg-open 'https://darkserver.fedoraproject.org/'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-sprite
Categories=Fedora;
