[Desktop Entry]
Version=1.0
Name=Fedora Busmon
GenericName=Fedora Busmon
Exec=xdg-open 'https://apps.fedoraproject.org/busmon/'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
