[Desktop Entry]
Version=1.0
Name=Nagios
GenericName=Fedora Nagios
Exec=xdg-open 'http://admin.fedoraproject.org/nagios'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
