[Desktop Entry]
Version=1.0
Name=Fedora Packages
GenericName=Fedora Packages Database
Exec=xdg-open 'http://apps.fedoraproject.org/packages'
StartupNotify=true
Terminal=false
Type=Application
Icon=
Categories=Fedora;
