[Desktop Entry]
Version=1.0
Name=Koji
GenericName=Fedora Koji
Exec=xdg-open 'http://koji.fedoraproject.org/koji'
StartupNotify=true
Terminal=false
Type=Application
Icon=koji
Categories=Fedora;
