[Desktop Entry]
Version=1.0
Name=Elections
GenericName=Fedora Elections
Exec=xdg-open 'http://admin.fedoraproject.org/voting'
StartupNotify=true
Terminal=false
Type=Application
Icon=fedora-logo-icon
Categories=Fedora;
